<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">Very nice, much cool</p>
    <hr class="my-4">
    <p>Lets see all of our todos by going to the todos page</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/Todo/todo" role="button">Click here</a>
    </p>
</div>