@model h5Todo.Models.User
@{
    Layout = null;
}
<h2>Change your user password here</h2>
<div class="col">
    <form asp-action="ChangePassword" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <text class="form-control" id="username" name="username">@Model.Username</text>
        </div>
        <div class="form-group">
            <label for="NewPassword">New Password:</label>
            <input type="password" placeholder="NewPassword" class="form-control" id="NewPassword" name="NewPassword" />
        </div>
        <div class="form-group">
            <label for="ConfirmPassword">Confirm Password:</label>
            <input type="password" placeholder="ConfirmPassword" class="form-control" id="ConfirmPassword" name="ConfirmPassword" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Go!</button>
        </div>
    </form>
</div>